<div *ngIf="hero">
  <h2>Detalles de {{hero.name | uppercase}}</h2>
  <div><span>id: </span>{{hero.id}}</div><br>
  <div><span>Modalidad: </span>{{hero.modalidad}}</div><br>
  <div>
    <label for="hero-name">Formacion: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div><br><br>
  <div><span>Titulacion: </span>{{hero.titulacion}}</div><br><br>
  <button type="button" (click)="goBack()">Regresar</button>
  <button type="button" (click)="save()">Guardar</button>
</div>
