<h2>Formaciones Disponibles: </h2><br>
<ul class="formaciones">
  <li *ngFor="let formacion of formaciones">
    <a routerLink="/detail/{{formacion.id}}">
      <span class="badge">{{formacion.id}}</span> {{formacion.name}}
    </a>
    <button type="button" class="delete" title="borrar formacion" (click)="delete(formacion)">Borrar</button>
  </li>
</ul><br><br>

<h2>Añade una nueva formación: </h2>
<div>
  <div>
  <label for="new-formacion">Nombre: </label>
  <input id="new-formacion" #formacionName />
  <label for="new-formacion-modalidad">Modalidad: </label>
  <input id="new-formacion-modalidad" #formacionModalidad />
  <label for="new-formacion-titulacion">Titulación: </label>
  <input id="new-formacion-titulacion" #formacionTitul />

  <button type="button" class="add-button" (click)="add(formacionName.value, formacionModalidad.value, formacionTitul.value); formacionName.value=''; formacionModalidad.value=''; formacionTitul.value=''">Añadir Formacion</button>
</div>
</div>

